[submodule "repos/own/oriz-broker-compare"]
	path = repos/own/oriz-broker-compare
	url = https://github.com/chirag127/oriz-broker-compare.git
[submodule "repos/own/oriz-screen-watch"]
	path = repos/own/oriz-screen-watch
	url = https://github.com/chirag127/oriz-screen-watch.git
[submodule "repos/own/oriz-networth"]
	path = repos/own/oriz-networth
	url = https://github.com/chirag127/oriz-networth.git
